.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  overflow: hidden;
}

.crop-app {
  z-index: 1111;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 120px;
  width: 750px !important;
  height: 360px !important;
}

.controls {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.slider {
  justify-self: flex-start;
  padding: 22px 0px;
}